#glyphiconArrowHea{
    color: black;
    font-size: 12px;
}

.navbar-brand .navbar-inverse{
    color: #000000;
}
span[class*="glyphicon-one-fine"] {
    margin-bottom: .2em;
    overflow: hidden;
}

/*.container{
     box-shadow: 5px 5px 5px #888888;
}*/   

.glyphicon-one-fine-full-dot:before {
    content:"\25cf";
    color: #808080;
    font-size: 1em;
}

.commentContainer{
    margin-top: 5px;
}
  
.navIcon{
    border-top-width: 20px;
    margin-top: 10px;
    margin-right: 20px;
    margin-left: 20px;
    font-size: 20px;
    color: #fff;
}

.navbar-inverse{
    background-color: #3e8ef1;
    border-color: #3e8ef1;
}

/*di pa gumagana to

*/
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -60px;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.bg-info{
    background-color:#d9edf7;
}
