@model IEnumerable<Entities.USER>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Search";
}

<div class="modal fade" id="logout">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <p>Are you sure you want to logout?</p>
            </div>
            <div class="modal-footer">
                <button id="btnOk" type="button" class="btn btn-secondary" data-dismiss="modal" onclick="location.href = '@Url.Action("LogIn", "PasteBookAccount")'">OK</button>
                <button id="btnCancel" type="button" class="btn btn-warning" data-dismiss="modal">CANCEL</button>
            </div>
        </div>
    </div>
</div>


@foreach (var item in Model)
{
    <div class="containerPastebook">
        <div class="friendContainer">
           
            @if ((int)Session["ID"] != item.ID)
            {
                @Html.Label("FullName", item.FIRST_NAME + " " + item.LAST_NAME);
                <a href='@Url.Action("Timeline", "Pastebook", new { username = item.USER_NAME })'>View Profile</a>
            }
        </div>
    </div>
}
@if (Model.Count() == 0)
            {
    <h1>No results found.</h1>
}


@{
    @Scripts.Render("~/bundles/jquery");
    <script>
        //////Logout

        $("#btnLogout").click(function () {
            $('#logout').modal('show');
            //$("#btnOk").click(function () {
            //    var url = $("#RedirectToLogin").val();
            //    location.href = url;
            //})

            //$("#btnCancel").click(function () {
            //    var url = $("#RedirectToIndex").val();
            //    location.href = url;
            //})
        })
    </script>
}