@model IEnumerable<Entities.NOTIFICATION>
@foreach (var item in Model)
{
    if (Model != null)
    {

        string message = string.Empty;

        <div>
            <button type="button" id="btnComment@(item.ID)" class="btn btn-default notifBtn" onclick="" value="">
                @if (item.NOTIF_TYPE == "L")
                {
                    message = item.USER.FIRST_NAME + " " + item.USER.LAST_NAME + " likes your post.";
                }
                else if (item.NOTIF_TYPE == "C")
                {
                    message = item.USER.FIRST_NAME + " " + item.USER.LAST_NAME + "comment on your post.";
                }
                else if (item.NOTIF_TYPE == "F")
                {
                    message = item.USER.FIRST_NAME + " " + item.USER.LAST_NAME + "sent you a friend request.";
                }


                @message
            </button>
        </div>

    }
}
