@model IEnumerable<Entities.NOTIFICATION>
@foreach (var item in Model)
{
    if (Model != null)
    {

        string message = string.Empty;

        <div>
            <button type="button" id="btnComment@(item.ID)" class="btn btn-default notifBtn" onclick="" value="">
                @if (item.NOTIF_TYPE == "L")
                {
                    if (item.USER1.PROFILE_PIC == null)
                    {
                        <img src="~/Content/images/default.png" class="profilePicture" id="postPicture" />
                    }
                    else
                    {
                        var base64 = Convert.ToBase64String(item.USER1.PROFILE_PIC);
                        var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                        <img src="@imgSrc" id="postPicture" class="profilePicture" />
                    }
                    message = item.USER1.FIRST_NAME + " " + item.USER1.LAST_NAME + " likes your post.";
                }
                else if (item.NOTIF_TYPE == "C")
                {
                    if (item.USER1.PROFILE_PIC == null)
                    {
                        <img src="~/Content/images/default.png" class="profilePicture" id="postPicture" />
                    }
                    else
                    {

                        var base64 = Convert.ToBase64String(item.USER1.PROFILE_PIC);
                        var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                        <img src="@imgSrc" id="postPicture" class="profilePicture" />
                    }
                    message = item.USER.FIRST_NAME + " " + item.USER.LAST_NAME + "comment on your post.";
                }


                @message
            </button>
        </div>

    }
}
